{% block captcha_widget %}
    {% spaceless %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="{{ id }}"></div>
    {% endspaceless %}
{% endblock %}